[Desktop Entry]
Name=GNU/Shark
GenericName=Gaming tools hub
Comment=Drivers, optimizations, and utilities hub for Linux games
Exec=env GNUSK_ICONS_DIR=/usr/share/gnushark/icons gnushark
TryExec=gnushark
Icon=org.gnushark.GNUShark
Terminal=false
Type=Application
Categories=System;Settings;Utility;
Keywords=GPU;Drivers;Gaming;Steam;Wine;Proton;
StartupNotify=true
